/***header***/
header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 61px;
    height: 19px;
    object-fit: scale-down;
}
nav a{
    align-items: flex-start;
    margin: 10px;
    padding-top: 10px 0px;
    text-decoration-line: none;
    box-sizing: border-box;
}
nav a:hover{
    color: #0065FC;
    border-top:2px solid #0065FC;
}

/****** Barre de recherche ******/
.searchbar {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    width: 416px;
    border-radius: 15px 15px 15px 15px;
  }
  
  .searchbar form {
    display: flex;
    align-items: center;
    height: 49px;
  }
  
  .searchbar label {
    display: flex;
    align-items: center;
    height:49px;
    width:50px;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    }
  
  .searchbar input[type="text"] {
    height: 47px;
    width: 230px;
  }
  .searchbar ::placeholder{
    color: black
  }
  
  .searchbar input[type="submit"] {
    width: 132px;
    height: 49px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;

  }
  .searchbar input[type="submit"],
  .searchbar input[type="text"]{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border-style: none;
  }
/****** Filtres ******/
.filtre h4{
    font-size: 18px;
}

.filtre{
    display: flex; 
    background-color:white;
}
.button{
    display: flex;
    flex-direction: row;
}
.filtrebutton{
    margin-left: 15px;
    padding: 4px 19px 4px 19px;
    border: solid;
    border-radius: 25px 25px 25px 25px;
    border-color: #D3D3D3;
    font-weight: 700;
    font-size: 17px;
    }
.filtrebutton:hover{
    background-color:#DEEBFF;
}
.info .info-logo{    
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    padding: 5px 9px 5px 9px;
    border: solid 1px;
    border-radius: 50%;
    border-color: #D3D3D3;
    font-weight: 700;
    font-size: 10px;
}
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    position: relative;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 250px;

}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements {
    width: 65%;
}
.hebergements-cards .card {
    width: 30%;
    margin-top: 33px;
}
.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius:20px 20px 0px 0px ;
}
.hebergements-cards .card-content{
    width: 70%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activity ******/
.activites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/****** Activity cards ******/
.ensembles_de_cartes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activity-card{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 297.5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.activity-card-content {
    width: 297px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.activity-card img{
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}
.activity-card h4{
    padding-left: 10px;
}

/****** Footer ******/
#pied-de-page{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
#pied-de-page .footerbox{
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    line-height: 8px
    }
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.98px) and (max-width: 1024px){
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
/****** section filtres ******/
    .filtre{
        display: flex;
        flex-direction: column;
        width: 650px;
    }
    .button{
        width: auto;
    }
    .filtrebutton{
        display: flex;
        font-size: 16px;
        flex-wrap: nowrap;
    }
    .filtre h4{
        margin-bottom: 0px;
    }
    /****** Activité ******/
    .ensembles_de_cartes{
    width: auto;
    }
    .activity-card{
    width: 193.5px;
    }
    .activity-card-content {
    width: 193.5px;
    }
    .activity-card img{
    width: 193.5px;
    height: 200px;
    }

    /****** footer *******/
    #pied-de-page{
        bottom: 0;
        width: 100%;
        max-width: 924px;
        padding: 0 50px;
        box-sizing: border-box;
        background-color: #f5f5f5;
    }
     
    #pied-de-page .footerbox{
        margin-right: 120px;
        line-height: 8px
        }
    #pied-de-page p h4{
        margin-top: 5px;
        margin-bottom: 0px;
    }
    }
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0 30px;
    }
    .hebergements-and-populaires{
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    /***** Header ******/
    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .logo{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .logo img{
        width: 61px;
        height: 19px;
        object-fit: scale-down;
    }
    nav a{
        margin: 10px;
        padding-top: 10px 0px;
        text-decoration-line: none;
        box-sizing: border-box;
    }
    nav a:hover{
        color: #0065FC;
        border-bottom:2px solid #0065FC;
        border-top: none;
    }

    /****** barre de recherche ******/

    .hebergements-and-populaires{
        padding: 0px
    }
    .hebergements-and-populaires .hebergements{
        background-color: white;
        padding: 10px;
    }
    /****** Filtres ******/

    .filtre{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .button{
        width: 375;
        display: flex;
        flex-wrap: wrap;
    }
    .filtrebutton{
        display: flex;
        font-size: 14px;
        flex-wrap: nowrap;
        gap: 10px;
        width: 120.5px;
        height: 50px;
    }
    .filtre h4{
        margin-bottom: 0px;
    } 
    
    /****** Populaire ******/
        .populaires {
            order: 1;
            width: 375px;
        }
    /****** Hebergement ******/
        .hebergements .section-title{
            margin-top: 20px;
        }
        .hebergements{
            order: 2;
            width: 375px;
            display: flex;
            flex-direction: column;
        }
        .hebergements-cards{
            display: flex;
            flex-direction: column;
        }
        .hebergements-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .hebergements {
            width: 375px;
        }
        .hebergements-cards .card {
            width: 335px;
            height: 207.25px;
            margin-top: 33px;
        }
        .hebergements-cards .card-txt{
            margin-top: 5px;
            margin-bottom: 0px;
        }
        .hebergements-cards img {
            width: 100%;
            height: 124px;
            border-radius:20px 20px 0px 0px ;
        }
        .hebergements-cards .card-content{
            width: 70%;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            box-sizing: border-box;
        }
        .hebergements-cards .card-title {
            margin-top: 10px;
            margin-bottom: 4px;
        }
        .hebergements-cards .card-subtitle {
            margin: 0;
        }
        .hebergements-cards .card-rating {
            margin-bottom: 5px;
        }
    /****** Activités ******/
        .activites{
            display: flex;
            flex-direction: column;
            width: 375px;
        }
        .ensembles_de_cartes{
            display: flex;
            flex-direction: column;
        }
        .activity-card-content{
            width: 315px;
            min-height: 59px;
        }
        .activity-card{
            width: 315px;
            height: 207.25px;
            margin-top: 33px;
        }
        .activity-card img{
            width: 315px;
            height: 124px;
            border-radius:20px 20px 0px 0px    
        }
        .activity-card-content h4{
            margin-bottom: 0px;
        }